*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



li, a{
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    color: #D2E3EC;
    background-color: #333333;
    border-radius: 10px;
    margin: 0 10px;
    
}

li a:hover{
    color: black;
    transition: all 0.3s ease 0s;

}
.login_li{
    background-color: #404040;
}
.login{
    background-color: #FF0000;
    color: black;
}
.login:hover{
    background-color: #D2E3EC;
    transition: all 0.3s ease 0s;
}

body{
    background-color: #333333;
}

header{
    
    background-color: #404040;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px, 10%;
}
header > div > img{
    width: auto;
    height: 3vw;
    
}

header > div{
    margin-right: auto;
}

header > i{
    padding: 0px 20px;
    color: #FF0000;
}
header > i:hover{
    transition: all 0.3s ease 0s;
    padding: 0px 20px;
    color: #D2E3EC;

}
header > i:active{
    transition: all 0.3s ease 0s;
    padding: 0px 20px;
    color: #FF0000;

}
